<footer class="container mb2 clearfix" id="site-footer">
  <div class="sm-flex center nowrap mb2 h5">
    <div class="flex-auto border-bottom" style="user-select: none;color: rgba(0,0,0,.125);">♥</div>
  </div>
</footer>

<!-- <script src="https://cdn.bootcss.com/prettify/r298/prettify.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('pre').addClass('prettyprint linenums');
    prettyPrint();
  })
</script> -->

<style>
  /* #site-footer {
    position: absolute;
    bottom: 0;
  } */
</style>