<div class="mn1 center">
  <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>" class="btn button-narrow">
      <%= i %>
    </a>
    <% } %>
      <!-- <a href="/problems" class="btn button-narrow">Problems</a> -->
</div>