<div class="mb4 sm-flex center nowrap">
  <div class="flex-auto block" style="user-select: none">
    <p class="inline h2">
      <%= config.title %>
    </p> | <small class="muted">
      <%= config.subtitle %>
    </small>
  </div>
</div>