<%
var probs = [];
site.pages.forEach(function(item, index) {
	if(item.layout=='problem') {
		probs.push({
			'title': item.title,
			'path': item.path,
			'date': item.date
		})
	}
});

probs=probs.sort(function(a,b) {
	return a['date'] > b['date']?-1:1;
});	
%>
<div class="mt2 mb2">
	<span class="btn button-narrow">Problems</span>
	<!-- <svg class="icon gray" data-icon="chevron-right"></svg> -->
	<span class="btn button-narrow"><%= probs.length %> uploaded</span>
</div>

<div class="mt2 mb2">
	<div class="col-12 bg-white rounded mb4">
		<% 
		var length=probs.length
		probs.forEach(function(item, index) { %>
		<a href="<%- url_for(item.path) %>" class="btn block<%- (index != length - 1 ? ' border-bottom' : '') %>"><%- item.title %></a>
		<% }) %>
	</div>
</div>
